.menu-icon {
    position: absolute;
    right: 1.5em;
}

.dropdown-row > svg {
    margin-right: 0.5em;
}

.dropdown-container {
    background: #e3f1fc;
    position: absolute;
    right: 2em;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 2s;
}

.dropdown-row > span {
    transition: all 0.5s;
}

.dropdown-container:hover > .dropdown-row >  svg {
    font-size: 1.1em;
    color: white;
}

.dropdown-container:hover > .dropdown-row >  span {
    font-size: 1.1em;
    color: white;
}

.dropdown-container:hover > .dropdown-row {
    background: red;
    transition: all 1s;
}


.dropdown-row {
    padding: 0.5em 1em;
}